.team-channel-preview {
  margin-bottom: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  padding: 1px;
  background: #ffffff54;
  border: 1px solid #f0f0f0;
}

.team-channel-preview:hover {
  background: #f5f5f500;
  border-color: #188fff72;
}

.direct-preview {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  gap: 10px;
  padding: 2px; /* Add some padding for better spacing */
}

.direct-avatar {
  border: 2px solid #1890ff;
  transition: 0.3s ease-in-out;
}

.direct-info {
  flex: 1; /* Allow the info section to take up remaining space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

.direct-username {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.direct-message-container {
  display: flex;
  justify-content: space-between; /* Space between message and time */
  align-items: center; /* Center align vertically */
  font-size: 0.9rem; /* Adjust font size */
  color: #666;
}

.direct-message {
  flex: 1; /* Allow message to take available space */
}

.message-time {
  font-size: 0.8rem;
  color: #aaa;
  margin-left: 10px; /* Add some space between message and time */
}