.team-channel-preview {
  margin-bottom: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  padding: 0px;
  background: #ffffff10;
}

.team-channel-preview:hover {
  background: #f5f5f500;
  border-color: #188fff72;
}

.direct-preview {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
}

.direct-avatar {
  border: 1px solid #188fff71;
  transition: 0.3s ease-in-out;
}

.direct-info {
  flex: 1; /* Allow the info section to take up remaining space */
  display: flex;
  flex-direction: column;
}

.direct-username {
  font-weight: 600;
  font-size: 15px;
  color: #333;
}

.direct-message-container {
  display: flex;
  justify-content: space-between; /* Space between message and time */
  align-items: center; /* Center align vertically */
  font-size: 0.8rem; /* Adjust font size */
  color: #666;
}

.direct-message {
  flex: 1; /* Allow message to take available space */
}

.message-time {
  font-size: 0.8rem;
  color: #aaa;
  margin-left: 13px; /* Add some space between message and time */
}

.unread-message {
  font-weight: bold;
  color: #1890ff;
}

.unread-badge {
  width: 7px;
  height: 7px;
  background: rgba(255, 0, 0, 0);
  border-radius: 50%;
  margin-left: -15px;
}
